<div class="body">
    <div class="container-fluid width">
        <div class="row">
            <div class="col-sm mb-3">
                <img src="https://visitors.galexpo.com.ua:7002/static/registration/shared/footer_logo.png" class="img mb-2" width='200px' height="auto" alt="image">
                <p>{{'вул. Винниченка, 30,' | translate: lang}}</p>
                <p>{{'м. Львів, 79008, Україна' | translate: lang}}</p>
            </div>
            <div class="col-sm mb-3">
                <p><span class="mr-1">{{'Тел.' | translate: lang}}</span>(032) 297 06 28 / 27</p>
                <p><span class="mr-1">{{'Факс' | translate: lang}}</span>(032) 297 17 56, 276 94 83</p>
                <p>exhib@galexpo.lviv.ua</p>
            </div>
            <div class="col-sm mb-3">
                <p>{{'Слідкуй за нами:' | translate: lang}}</p>

                <a href="https://www.youtube.com/channel/UCmPNw-XB2knyAnGq7rciEyA/featured" class="mr-5">
                    <img src="https://visitors.galexpo.com.ua:7002/static/registration/shared/youtube_PNG2.png" width='50px' height="auto" alt="image">
                </a>

                <a href="https://www.facebook.com/galitskiexpozitsyi/" class="mr-5">
                    <img src="https://visitors.galexpo.com.ua:7002/static/registration/shared/facebook_logo.png" width='40px' height="auto" alt="image">
                </a>

                <a href="http://www.galexpo.com.ua" class="mr-5">
                    <img src="https://visitors.galexpo.com.ua:7002/static/registration/shared/ge_white_logo.png" width='35px' height="auto" alt="image">
                </a>

            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid width color">
        <div class="row no-gutters">
            <div class="col-sm">
                Copyright © 2020. All rights reserved
            </div>
            <div class="col-sm text-right">
                Design and development by 
                <a href="mailto:thrion1@gmail.com" class="nondecore">Sergiy Zinovyev</a>
            </div>
        </div>
    </div>
</div>