.example-full-width {
    width: 100%;
  }
  
  .max-width{
    margin-top: 20px;
    max-width: 600px;
  }
  
  .reg-form{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 7px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
  }
  
  .warning{
    margin-top: 10px;
    text-align: center;
    color: red;
  }
  
  .discr{
    font-family: sans-serif;
    /* color: #ff4081; */
    color: #0064af;
    font-weight: bold;
    /* padding-top: 10px; */
    padding-bottom: 10px;
  }
  
  .main-color{
    color: #0064af;
  }
  
  .btn-color{
    background-color: #0064af;
  }
  .btn-font{
      font-size: smaller;
  }