<app-spinner-fullscreen *ngIf="loading"></app-spinner-fullscreen>
<div class="container-fluid pt-4">
    <div class="d-flex justify-content-center h4 title mb-4 text-center">{{"Оберіть виставку та отримайте запрошення" | translate: lang}}</div>
    <div class="d-flex justify-content-center flex-wrap">
        <mat-card class="example-card mx-md-3 mb-5 d-flex flex-column justify-content-between" *ngFor="let item of exhibitions">
            <div class="d-flex card-header">
                <img 
                    [src]="item.logoImg" 
                    (error)="imgErrorHandler($event, item.altLogoImg)" 
                    class='mr-3'
                    width=auto 
                    height=40
                    alt="img">
                <div class="some-text">{{lang == 'EN' ? item.name : item.name_en}}</div>
            </div>
            <img 
                mat-card-image 
                [src]="lang == 'EN' ? item?.img : item?.img_en" 
                (error)="imgErrorHandler($event, item.altImg)" 
                class='card-image' 
                alt="img">
            <div mat-card-content class="card-content">
                <p>{{lang == 'EN' ? item.description : item.description_en}}</p>
            </div>
            <mat-card-actions class="mt-0 pt-0">
                <a mat-button [href]='item.site'>{{"Детальніше" | translate: lang}}</a>
                <button mat-button (click)='getInvite(item.numexhib)'>{{"Запрошення" | translate: lang}}</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>    