<div class="d-flex align-items-center justify-content-center">
    <div class="max-width container-fluid">
        
        <form class="example-form back2" [formGroup]="visitorForm" novalidate (submit)='submit()'>
            <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner></mat-spinner>
            </div> -->

            <div class="reg-form">
                <div class="discr d-flex justify-content-between">
                    <ng-container *ngIf='newVisitor'>Представтесь, будь ласка</ng-container> 
                    <ng-container *ngIf='!newVisitor'>Вітаємо!</ng-container>
                    <mat-icon matSuffix>person</mat-icon>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="{{'Прізвище'}}" formControlName="prizv" required>
                            <mat-error *ngIf="!visitorForm.get('prizv').valid">
                                {{'Будь ласка введіть прізвище'}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-4">
                        <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="Ім'я" formControlName="name" required>
                            <mat-error *ngIf="!visitorForm.get('name').valid">
                                {{"Будь ласка введіть ім'я"}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-4">
                        <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="{{'По-батькові'}}" formControlName="pobatkovi">
                        </mat-form-field>
                    </div>
                </div>    
            </div>

            <div class="reg-form">
                <div class="discr d-flex justify-content-between">
                    <ng-container *ngIf='newVisitor'>Заповніть Ваші контактні дані</ng-container>
                    <ng-container *ngIf='!newVisitor'>Відредагуйте Ваші контактні дані, якщо вони змінилися</ng-container>
                    <mat-icon matSuffix>assignment</mat-icon>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <mat-form-field class="form-group example-full-width">
                            <mat-select placeholder="{{'Країна'}}" formControlName="countryid" required>
                                <mat-select-filter 
                                    [placeholder]="'Пошук'" 
                                    [array]="countries" 
                                    [displayMember]="'teretory'" 
                                    (filteredReturn)="filteredCountries =$event">
                                </mat-select-filter>
                                <mat-option 
                                    *ngFor="let country of filteredCountries" 
                                    value='{{country.countryid}}'>
                                    {{country.teretory}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="!visitorForm.get('countryid').valid"> 
                                {{'Будь ласка введіть країну'}}
                            </mat-error> 
                        </mat-form-field>
                        
                    </div>

                    <div class="col-12 col-sm-4">
                        <mat-form-field class="form-group example-full-width">
                            <mat-select placeholder="{{'Область'}}" formControlName="regionid" [required]="visitorForm.get('regionid').validator">
                                <mat-select-filter 
                                    [placeholder]="'Пошук'" 
                                    [array]="regions" 
                                    [displayMember]="'teretory'" 
                                    (filteredReturn)="filteredRegions =$event">
                                </mat-select-filter>
                                <mat-option 
                                    *ngFor="let region of filteredRegions" 
                                    value='{{region.regionid}}'>
                                    {{region.teretory}}
                                </mat-option>
                            </mat-select> 
                            <mat-error *ngIf="!visitorForm.get('regionid').valid">
                                {{'Будь ласка введіть область'}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-4">
                        <mat-form-field class="form-group example-full-width">
                            <input 
                                type="text" 
                                matInput 
                                placeholder="Місто" 
                                formControlName="city" 
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option 
                                    *ngFor="let city of filteredCities" 
                                    value='{{city.teretory}}'>
                                    {{city.teretory}}
                                </mat-option>
                            </mat-autocomplete> 
                            <mat-error *ngIf="!visitorForm.get('city').valid">
                                {{'Будь ласка введіть місто'}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>        
            
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <mat-form-field class="form-group example-full-width">
                            <input type="email" matInput placeholder="{{'Особиста електронна пошта'}}" formControlName="email" required>
                            <mat-icon matSuffix>alternate_email</mat-icon>
                            
                            <mat-error>
                                <div *ngIf="visitorForm.get('email').hasError('required') || visitorForm.get('email').hasError('email')">{{'Будь ласка введіть Вашу дійсну електроннну адресу'}}</div> 
                                {{visitorForm.get('email').errors?.validEmail}}
                            </mat-error>
                            
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-6">
                        <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="{{'моб.тел. 380ххххххххх'}}" formControlName="cellphone" required>
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error>
                                <div *ngIf="visitorForm.get('cellphone').hasError('required') || visitorForm.get('cellphone').hasError('pattern')">{{'Будь ласка введіть мобільний телефон у вказаному форматі без пробілів'}}</div> 
                                {{visitorForm.get('cellphone').errors?.validCellphone}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="reg-form">
                <div class="discr d-flex justify-content-between">
                    <ng-container *ngIf='newVisitor'>Ваша робота</ng-container>
                    <ng-container *ngIf='!newVisitor'>Відредагуйте Ваші дані про роботу, якщо вони змінилися</ng-container>
                    <mat-icon matSuffix>business</mat-icon>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="{{'Місце роботи'}}" formControlName="m_robotu">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12 col-sm-6">
                        <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="{{'Посада'}}" formControlName="posada">
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-6">
                        <mat-form-field class="form-group example-full-width">
                            <mat-select placeholder="{{'Сфера діяльності'}}" formControlName="sferadij">
                                <mat-select-filter 
                                    [placeholder]="'Пошук'" 
                                    [array]="branches" 
                                    (filteredReturn)="filteredBranches =$event">
                                </mat-select-filter>
                                <mat-option 
                                    *ngFor="let branch of filteredBranches" 
                                    value='{{branch}}'>
                                    {{branch}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>

            <div class="reg-form2">
                <mat-expansion-panel class="reg-form3">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="discr2">Оберіть виставки, яки Вас ще можуть зацікавити<span class="ml-1 text-danger">*</span></mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-exhibitions [userExhibitions]="potvid" [idAddingExhibitions]="searchParamsExhib" (changeUserExhibitions)="patchPotvid($event)"></app-exhibitions>
                </mat-expansion-panel>
            </div>

            <ng-container *ngIf = "submitted && visitorForm.invalid">
                <div class="alert alert-warning" role="alert">
                    <div class="font-weight-bold mb-2">Не всі обов'язкові поля запонені або заповнені невірно</div>
                    <ng-container  *ngFor='let item of getErrorsMessage(visitorForm)'>
                        <div>{{item}}</div>
                    </ng-container>
                </div> 
            </ng-container>

            <div *ngIf="warning" class="alert alert-danger">
                {{warning}}
            </div>

            <button 
                type="submit"
                mat-raised-button 
                color="accent" 
                class="btn-lg btn-block py-2 my-btn btn-color">
                <span class="pr-2 btn-font">{{'Отримати запрошення'}}</span>
                <mat-icon>local_activity</mat-icon>
            </button>

            
        </form>
    </div>  
</div>
 