<div class="d-flex align-items-center justify-content-center">
    <div class="max-width container-fluid">
        
        <form class="example-form back2" [formGroup]="visitorForm">
            <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
                <mat-spinner></mat-spinner>
            </div> -->

            <div class="reg-form">
                <div class="discr d-flex justify-content-between">
                    <!-- <ng-container *ngIf='!edit'>Представтесь, будь ласка</ng-container> 
                    <ng-container *ngIf='edit'>Вітаємо!</ng-container> -->
                    <ng-container>Вітаємо!</ng-container>
                    <mat-icon matSuffix>person</mat-icon>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="{{'Прізвище'}}" formControlName="prizv" required>
                            <mat-error *ngIf="!visitorForm.get('prizv').valid">
                                {{'Будь ласка введіть прізвище'}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-4">
                        <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="Ім'я" formControlName="name" required>
                            <mat-error *ngIf="!visitorForm.get('name').valid">
                                {{"Будь ласка введіть ім'я"}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-4">
                        <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="{{'По-батькові'}}" formControlName="pobatkovi">
                        </mat-form-field>
                    </div>
                </div>    
            </div>

            <div class="reg-form">
                <div class="discr d-flex justify-content-between">
                    <!-- <ng-container *ngIf='!edit'>Заповніть Ваші контактні дані</ng-container>
                    <ng-container *ngIf='edit'>Відредагуйте Ваші контактні дані, якщо вони змінилися</ng-container> -->
                    <ng-container>Заповніть Ваші контактні дані</ng-container>
                    <mat-icon matSuffix>assignment</mat-icon>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <mat-form-field class="form-group example-full-width">
                            <mat-select placeholder="{{'Країна'}}" formControlName="countryid" required>
                                <mat-select-filter 
                                    [placeholder]="'Пошук'" 
                                    [array]="countries" 
                                    [displayMember]="'teretory'" 
                                    (filteredReturn)="filteredCountries =$event">
                                </mat-select-filter>
                                <mat-option 
                                    *ngFor="let country of filteredCountries" 
                                    value='{{country.countryid}}'>
                                    {{country.teretory}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="!visitorForm.get('countryid').valid"> 
                                {{'Будь ласка введіть країну'}}
                            </mat-error> 
                        </mat-form-field>
                        
                    </div>

                    <div class="col-12 col-sm-4">
                        <mat-form-field class="form-group example-full-width">
                            <mat-select placeholder="{{'Область'}}" formControlName="regionid" required>
                                <mat-select-filter 
                                    [placeholder]="'Пошук'" 
                                    [array]="regions" 
                                    [displayMember]="'teretory'" 
                                    (filteredReturn)="filteredRegions =$event">
                                </mat-select-filter>
                                <mat-option 
                                    *ngFor="let region of filteredRegions" 
                                    value='{{region.regionid}}'>
                                    {{region.teretory}}
                                </mat-option>
                            </mat-select> 
                            <mat-error *ngIf="!visitorForm.get('regionid').valid">
                                {{'Будь ласка введіть область'}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-4">
                        <mat-form-field class="form-group example-full-width">
                            <!-- <input type="text" matInput placeholder="{{'Місто'}}" formControlName="city" required> -->
                            <mat-select placeholder="{{'Місто'}}" formControlName="city" required>
                                <ng-container *ngFor="let city of cities | async">
                                    <mat-option value='{{city.teretory}}'>{{city.teretory}}</mat-option>
                                </ng-container>
                            </mat-select> 
                            <mat-error *ngIf="!visitorForm.get('city').valid">
                                {{'Будь ласка введіть місто'}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>        
            
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <mat-form-field class="form-group example-full-width">
                            <input type="email" matInput placeholder="{{'Особиста електронна пошта'}}" formControlName="email" required>
                            <mat-icon matSuffix>alternate_email</mat-icon>
                            <mat-error *ngIf="!visitorForm.get('email').valid">
                                {{'Будь ласка введіть Вашу дійсну електроннну адресу'}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-6">
                        <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="{{'моб.тел. 380ххххххххх'}}" formControlName="cellphone" required>
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error *ngIf="!visitorForm.get('cellphone').valid">
                                {{'Будь ласка введіть мобільний телефон у вказаному форматі без пробілів'}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="reg-form">
                <div class="discr d-flex justify-content-between">
                    <!-- <ng-container *ngIf='!edit'>Ваша робота</ng-container>
                    <ng-container *ngIf='edit'>Відредагуйте Ваші дані про роботу, якщо вони змінилися</ng-container> -->
                    <ng-container>Відредагуйте Ваші дані про роботу, якщо вони змінилися</ng-container>
                    <mat-icon matSuffix>business</mat-icon>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="{{'Місце роботи'}}" formControlName="m_robotu">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="{{'Посада'}}" formControlName="posada">
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-sm-6">
                        <!-- <mat-form-field class="form-group example-full-width">
                            <input type="text" matInput placeholder="{{'Сфера діяльності'}}" formControlName="sferadij"> 
                        </mat-form-field> -->
                        <mat-form-field class="form-group example-full-width">
                            <mat-select placeholder="{{'Сфера діяльності'}}" formControlName="sferadij">
                                <mat-option value=1>{{'працівник'}}</mat-option>
                                <!-- <ng-container *ngFor="let item of branch">
                                    <mat-option value='{{item}}'>{{item}}</mat-option>
                                </ng-container> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- <div class="reg-form2">
                <mat-expansion-panel class="reg-form3">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="discr2">Оберіть виставки, яки Вас ще можуть зацікавити</mat-panel-title>
                    </mat-expansion-panel-header>
                    <form [formGroup]="exhibForm">
                        <div class="row">
                            <ng-container *ngFor="let item of exhib">
                                <ng-container *ngIf='item.kod==1'>
                                    <div class="col-12 col-sm-6">
                                        <mat-checkbox class='ml-1' formControlName={{item.name}}>
                                            {{item.name}}
                                        </mat-checkbox>
                                    </div>
                                </ng-container>    
                            </ng-container>
                        </div>
                    </form>
                </mat-expansion-panel>  
            </div> -->

                <button 
                    mat-raised-button 
                    (click)="submit()"
                    color="accent" 
                    class="btn-lg btn-block py-2 my-btn btn-color">
                    <strong class="pr-2">{{'Отримати запрошення'}}</strong><mat-icon>local_activity</mat-icon>
                </button>

            <!-- <ng-container *ngIf = 'worningCheck'>
                <div class="alert alert-warning" role="alert">{{worningCheck}}</div>
            </ng-container> -->
        </form>
    </div>  
</div>
 