.example-full-width {
    width: 100%;
  }
.max-width{
  margin-top: 20px;
  max-width: 600px;
}
.reg-form{
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 7px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
}

.reg-form2{
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 7px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
}
 
.reg-form3{
  border-radius: 10px;
}


.discr{
  font-family: sans-serif;
  color: #0064af;
  font-weight: bold;
  /* padding-top: 10px; */
  padding-bottom: 10px;
}

.discr2{
  font-family: sans-serif;
  color: #0064af;
  font-weight: bold;
}

.main-color{
  color: #0064af;
}

.btn-color{
  background-color: #0064af;
}

.my-btn{
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22); 
}

.example-loading-shade {
  padding-top: 300px;
  position: absolute;
  height: 200%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 100;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}