.my-container{
    max-width: 800px;
}

.image{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.messages{
    font-size: 22px;
    line-height: normal;
    color: #0064af;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.dashboard{
    display: flex;
    justify-content: center;
}

.my-btn2{
    color: white;
    background-color: #0064af;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0 7px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22); 
} 