<app-spinner-fullscreen *ngIf="loading"></app-spinner-fullscreen>

<div class="d-flex align-items-center justify-content-center">
    <div class="max-width container-fluid">
        <!-- <div class="reg-form d-flex justify-content-between pb-2"> 
            <img 
                src="https://visitors.galexpo.com.ua:7002/static/registration/shared/name.png" 
                alt="no server connect"
                width="40%"
                height=auto
                class="header-img">
            <img 
                src="https://visitors.galexpo.com.ua:7002/static/registration/shared/logo.png" 
                alt="no server connect"
                width="10%" 
                height=auto
                class="header-img">    
        </div> -->
        <div class="reg-form">
            <form class="example-form back2" [formGroup]="loginForm">
                <div class="discr">
                    {{'Введіть електронну пошту та/або мобільний телефон' | translate: lang}}
                </div>
                <mat-form-field class="form-group example-full-width">
                    <input type="email" matInput [placeholder]="'Електронна пошта' | translate: lang" formControlName="email"> 
                    <mat-icon matSuffix color="accent" class="main-color">alternate_email</mat-icon>
                    <mat-hint>
                        {{'Введіть електронну адресу (якщо ви реєструвалися раніше - введіть електронну адресу яку ви вказували при реєстрації)' | translate: lang}}
                    </mat-hint>
                    <mat-error *ngIf="!loginForm.get('email').valid">
                        {{'Будь ласка введіть Вашу дійсну електронну адресу' | translate: lang}}
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field class="form-group example-full-width">
                    <input type="tel" matInput placeholder="{{'380ххххххххх'}}" formControlName="cellphone">
                    <mat-icon matSuffix color="accent" class="main-color">phone</mat-icon>
                    <mat-hint>
                        {{'Введіть свій номер мобільного телефона (якщо ви реєструвалися раніше - введіть номер який ви вказували при реєстрації)' | translate: lang}}
                    </mat-hint>
                    <mat-error *ngIf="!loginForm.get('cellphone').valid">
                        {{'Будь ласка введіть мобільний телефон у вказаному форматі' | translate: lang}}
                    </mat-error>
                </mat-form-field>

                <div *ngIf='showPassword'>
                    <br>
                    <mat-form-field class="form-group example-full-width">
                        <input type="password" matInput [placeholder]="'Пароль' | translate: lang" formControlName="password">
                        <mat-icon matSuffix color="accent" class="main-color">vpn_key</mat-icon>
                        <mat-hint>
                            {{'Введіть пароль, який Ви встановили пароль при реєстрації' | translate: lang}}
                        </mat-hint>
                        <mat-error *ngIf="!loginForm.get('password').valid">
                            {{'невірний пароль' | translate: lang}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- <ng-container *ngIf = 'visibleCaptcha'>  
                    <div  
                        class="d-flex justify-content-center align-items-center mt-3">
                        
                        <re-captcha
                            style="transform:scale(1)"
                            formControlName="captcha"
                            siteKey="6Lcp7r0UAAAAAPd5sDUsXBnLWdXvHiLLXavjJINt">
                        </re-captcha>
                    </div>
                </ng-container>   -->
                
                <div *ngIf="warning" class="warning">
                    {{warning | translate: lang}}
                </div>
            </form>
            <br>
            
        </div>
        <button 
            mat-raised-button 
            (click)="login()"
            color="accent" 
            class="btn-lg btn-block py-2 reg-form btn-color">
            <span class="pr-2 btn-font">{{'Отримати запрошення' | translate: lang}}</span>
            <mat-icon>local_activity</mat-icon>
        </button> 
    </div> 
</div> 
