<form class="ml-5" [formGroup]="passwordForm" novalidate>
    <mat-form-field class="form-group example-full-width mr-2 mb-3">
        <input type="password" matInput [placeholder]="'Пароль' | translate: lang" formControlName="password">
        <mat-icon matSuffix color="accent" class="main-color">vpn_key</mat-icon>
        <mat-hint>
            {{'Введіть пароль, якщо Ви встановили пароль при реєстрації' | translate: lang}}
        </mat-hint>
        <mat-error *ngIf="!passwordForm.get('password').valid">
            {{'невірний пароль' | translate: lang}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group example-full-width">
        <input type="password" matInput [placeholder]="'Повторіть пароль' | translate: lang" formControlName="confirmPassword">
        <mat-icon matSuffix color="accent" class="main-color">vpn_key</mat-icon>
        <mat-hint>
            {{'Введіть пароль, якщо Ви встановили пароль при реєстрації' | translate: lang}}
        </mat-hint>
        <mat-error *ngIf="!passwordForm.get('confirmPassword').valid">
            {{'невірний пароль' | translate: lang}}
        </mat-error>
    </mat-form-field>
</form>
