<form class="" [formGroup]="passwordForm" novalidate>

    <div 
        *ngIf = "passwordForm.get('email').errors?.required" 
        class="alert alert-warning font-weight-bold" 
        role="alert">
        {{emailError | translate: lang}}
    </div> 

    <div *ngIf = 'showAll'>

        <mat-form-field class="form-group example-full-width">
            <mat-label>{{'Eлектронна пошта' | translate: lang}}</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-icon matSuffix color="primary" class="main-color">vpn_key</mat-icon>
            <mat-hint>
                {{'Тут має бути електронна пошта' | translate: lang}}
            </mat-hint>
            <mat-error *ngIf="!passwordForm.get('email').valid">
                {{'немає електронної пошти' | translate: lang}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group example-full-width">
            <mat-label>{{'Старий пароль' | translate: lang}}</mat-label>
            <input type="password" matInput formControlName="firstPassword">
            <mat-icon matSuffix color="primary" class="main-color">vpn_key</mat-icon>
            <mat-hint>
                {{'Тут має бути старий пароль' | translate: lang}}
            </mat-hint>
            <mat-error *ngIf="!passwordForm.get('firstPassword').valid">
                {{'немає попереднього пароля' | translate: lang}}
            </mat-error>
        </mat-form-field>

    </div>
 
    <div *ngIf = 'firstPassword'>
        <mat-form-field class="form-group example-full-width">
            <mat-label>{{'Старий пароль' | translate: lang}}</mat-label>
            <input 
                type="password" 
                matInput 
                formControlName="confirmFirstPassword" 
                [readonly]="disabled"
                [errorStateMatcher]="matcherConfirmFirstPassword">
            <mat-icon matSuffix color="primary" class="main-color">vpn_key</mat-icon>
            <mat-hint *ngIf="!passwordForm.get('confirmFirstPassword').value">
                {{'Введіть старий пароль' | translate: lang}}
            </mat-hint>
            <mat-error *ngIf="passwordForm.get('confirmFirstPassword').errors?.confirming">
                {{'невірний пароль' | translate: lang}}
            </mat-error>
        </mat-form-field>

        <!-- <hr> -->
    </div>

    <mat-form-field class="form-group example-full-width">
        <mat-label>{{'Новий пароль' | translate: lang}}</mat-label>
        <input 
            type="password"
            matInput
            formControlName="password"
            [readonly]="disabled">
        <mat-icon matSuffix color="primary" class="main-color">vpn_key</mat-icon>
        <mat-hint *ngIf="!passwordForm.get('password').value">
            {{'Пароль має містити хоча б одну одну цифру та одну літеру та бути довшим за 6 символів' | translate: lang}}
        </mat-hint>
        <mat-error>
            <div *ngIf="passwordForm.get('password').errors?.required">{{'Введіть пароль' | translate: lang}}</div>
            <div *ngIf="passwordForm.get('password').errors?.pattern">{{'Пароль має містити хоча б одну одну цифру та одну літеру та бути довшим за 6 символів' | translate: lang}}</div>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group example-full-width">
        <mat-label>{{'Повторіть новий пароль' | translate: lang}}</mat-label>
        <input 
            type="password" 
            matInput
            formControlName="confirmPassword"
            [readonly]="disabled"
            [errorStateMatcher]="matcherConfirmPassword">
        <mat-icon matSuffix color="primary" class="main-color">vpn_key</mat-icon>
        <mat-hint *ngIf="!passwordForm.get('confirmPassword').value">
            {{'Повторіть новий пароль' | translate: lang}}
        </mat-hint>
        <mat-error>
            <div *ngIf="passwordForm.get('confirmPassword').errors?.required">{{'Введіть пароль' | translate: lang}}</div>
            <div *ngIf="passwordForm.get('confirmPassword').errors?.confirming">{{'Пароль не співпадає' | translate: lang}}</div>
        </mat-error>
    </mat-form-field>

</form> 
