.nav{
    background-color: white;
    box-shadow: 0 7px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22); 
}

.main-color{
    color: #0064af;
    text-decoration: none;
}

.link-color{
    color: #0064af;
}

.link-color:hover{
    font-weight: 700;
}

.main-btn{
    padding-left: 0px;
    padding-right: 0px;
} 
